<!DOCTYPE html>
<html>
<head>
	<title>Sign In</title>
	<link rel="stylesheet" type="text/css" href="/css/signin.css">
</head>
<body>
<img src="/images/twitter.png">
<div>
<h1> SIGN IN </h1>


<form action="/signin" method="POST">

<h3>Email:</h3> &ensp;<input class="input" type="text" name="email" aria-label:"Username" /> <br>
<h3>Password:</h3> <input class="input" type="Password" name="Password"><br>

<input class="button" type="submit" name="submit" value="Sign In"/>

</div>
</form>
</body>
</html>