<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1> Sign Up </h1>


<form action="/signup" method="POST">
Email: <input type="text" name="email" /> <br>
Password: <input type="Password" name="Password"><br>

<input type="submit" name="submit" value="Sign In"/>
</form>


</body>
</html>